* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Calibri", serif;
    font-size: 16px;
}

h1, h3, h4 {
    text-align: center;
}

h1 {
    font-size: 28px;
    padding-bottom: 40px;
}

h3 {
    font-size: 24px;
    padding-bottom: 25px;
}

h4 {
    font-size: 20px;
    padding-bottom: 20px;
}

div.container {
    padding: 80px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}

div.task {
    padding: 20px;
    align-self: center;
}

div.subtask-set {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
div.subtask {
    padding: 20px;
}

div.runcode {
    margin: 10px;
    color: red;
    font-weight: bolder;
    border: 1px solid red;
    width: 100px;
    padding: 10px 5px;
    text-align: center;
}

div.runcode:hover {
    background-color: rgba(165,10,10,0.1);
    cursor: pointer;
}